.container{
    text-align: center;
    border: 5px solid black;
    height: 600px;
    width: 600px;
    margin-left: 200px;
}
.b1{
    height: 100px;
    width: 100px;
    margin-top:90px;
    border-radius: 15px;
    background-color: #3b3b3b;
}
span{
    color: blue;
}
.b2{
    height: 100px;
    width: 100px;
    margin-top:90px;
    border-radius: 15px;
    background-color: #6fcf97;
}
.b3{
    height: 100px;
    width: 100px;
    margin-top:90px;
    border-radius: 15px;
    background-color: #56ccf2;
}
.b4{
    height: 100px;
    width: 100px;
    margin-top:90px;
    border-radius: 15px;
    background-color:#bb6bd9;
}
.bg{
    background-color: black;
    color: aliceblue;
    height: 50px;
    text-align:center;
}
.p1{text-align:center;
}